[MASTER]
init-hook='import sys; sys.path.append(".")'
ignore=venv,.venv,logs,data,secrets, app/database/migrations/
[MESSAGES CONTROL]
disable=
    too-few-public-methods,
    protected-access,
    redefined-outer-name,
    exception-escape,
;     duplicate-code,
;     broad-except,

[DESIGN]
max-args=10
max-positional-arguments=10
max-locals = 15
max-attributes=15

[MAIN]
max-line-length=120

