[MASTER]
init-hook='import sys; sys.path.append(".")'
ignore=venv,.venv,logs,data,secrets, app/database/migrations/

[MESSAGES CONTROL]
disable=
    too-few-public-methods,
    protected-access,
    redefined-outer-name,
    broad-exception-caught,
    fixme,
;     duplicate-code,
;     broad-except,

[DESIGN]
max-args=10
max-positional-arguments=10
max-attributes=15
max-locals = 30 # 15 when v1.0.0 
max-public-methods=30  # 15 when v1.0.0 

[MAIN]
max-line-length=120

